.homepage {
    padding: 20px 10px;
    background-color: black;
    min-height: 100vh;
    color:white;
    h1 {color: cadetblue; text-decoration: underline;}
    h3 {
        color: forestgreen;
        &.default {
            color: lightgrey;
        }
    }    
}
